# dependencies
/node_modules

# production
/dist

# misc
.DS_Store
.env
npm-debug.log

# VisualStudioCode
.vscode/**/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### VisualStudioCode Patch ###
# Ignore all local history of files
**/.history